/* Mixins and Variables 
-------------------------------------------------- */
@mixin text-shadow {
  text-shadow: 0px 0px 3px rgba(0,0,0,.3);
  filter: dropshadow(color=rgba(0,0,0,.3), offx=0, offy=0);
}
/* Setup Variable for Navbar Height for Help with position w/ scrollspy */
$navbar-height: 90px;

/* Global Styles
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  padding-top: $navbar-height;
}

/* Navigation
-------------------------------------------------- */
.navbar-wrapper {
  .navbar {
    border-radius: 0;
    background: #FFF;
  }
  .navbar-brand {
    background-image: url(logo.png);
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: center right;
    text-indent: -9999px;
    line-height: 60px;
    margin-right: 40px;
    &:hover {
      opacity: .8;
    }
  }
  .navbar-nav > li > a {
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    // padding-top: 1.0em;
  }
  .navbar-default .navbar-nav > .active > a {
    color: #222;
    // border-bottom: 5px solid #222;
    background: #FFF;
    font-weight: bold;
  }
}

/* Homepage Hero
-------------------------------------------------- */
.hero {
  color: #FFF;
  margin-bottom: -$navbar-height;
  #carousel {
    overflow: hidden;
  }
  .btn-default {
    background: transparent;
    color: #FFF;
    border-radius: 2px;
    &:hover {
      color: #CCC;
    }
  }
  .sub-title {
    opacity: .7;
    text-transform: uppercase;
    letter-spacing: 1px;
    span {
      font-size: 12px;
      text-transform: lowercase;
      opacity: .5;
    }
  }
} 

/* Chapters
-------------------------------------------------- */
.chapters {
  padding: $navbar-height 0 0 0;
  .col-md-4 {
    padding: 0;
    margin-bottom: -2px;
  }
  img {
    width: 100%;
  }
}
/* Social Channels
-------------------------------------------------- */
.social {
  background: #f5f5f5;
  padding: 100px 0;
  h2 {
    color: #CCC;
    text-align: center;
    margin-bottom: 2.0em;
    i {
      font-size: 1.0em;
    }
  }
  a.thumbnail:hover {
    border-color: #CCC;
  }
  .tumblr {
    .description {
      margin-top: 1.0em;
    }
  }
  .instagram {
    img {
      max-width: 100%;
    }
    .description {
      margin-top: 1.0em;
    }
  }
}

/* Footer
-------------------------------------------------- */
footer {
  background: #222;
  padding: 4.0em 0;
  background-image: url(about-bg.png);
  background-size: cover;
  background-position: center center;
  color: #FFF;
  p {
    @include text-shadow;
  }
  a {
    color: #FFF;
    &:hover {
      color: #E5E5E5;
      text-decoration: none;
    }
  }
  .row {
    margin: 4.0em 0;
    img {
      margin-bottom: 2.0em;
    }
  }
  .colophon {
    opacity: .5;
  }
}

/* Responsive CSS
-------------------------------------------------- */
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
