/* Mixins and Variables 
-------------------------------------------------- */
@mixin text-shadow {
  text-shadow: 0px 0px 3px rgba(0,0,0,.3);
  filter: dropshadow(color=rgba(0,0,0,.3), offx=0, offy=0);
}
@mixin smooth-trans($property: all, $time: 1000ms, $function: ease) {
  -webkit-transition: $property $time $function;
     -moz-transition: $property $time $function;
      -ms-transition: $property $time $function;
       -o-transition: $property $time $function;
          transition: $property $time $function;
}
/* Setup Variable for Navbar Height for Help with position w/ scrollspy */
$navbar-height: 90px;

/* Other Variables */
$font-family: "Proxima-Nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$grey: #999;

/* Global Styles
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  padding-top: $navbar-height;
  font-family: $font-family;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-family;
  font-weight: 600;
}
:hover {
  // @include smooth-trans;
}

/* Navigation
-------------------------------------------------- */
.navbar-wrapper {
  .navbar {
    border-radius: 0;
    background: #FFF;
  }
  .navbar-brand {
    background-image: url(logo.png);
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: center right;
    text-indent: -9999px;
    line-height: 60px;
    margin-right: 40px;
    &:hover {
      opacity: .8;
    }
  }
  .navbar-nav > li > a {
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    // padding-top: 1.0em;
  }
  .navbar-default .navbar-nav > .active > a {
    color: #222;
    // border-bottom: 5px solid #222;
    background: #FFF;
    font-weight: bold;
  }
}

/* Homepage Hero
-------------------------------------------------- */
.hero {
  color: #FFF;
  margin-bottom: -$navbar-height;
  #carousel {
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .btn-default {
    background: transparent;
    color: #FFF;
    border-radius: 2px;
    &:hover {
      color: #CCC;
    }
  }
  .sub-title {
    opacity: .7;
    text-transform: uppercase;
    letter-spacing: 1px;
    span {
      font-size: 12px;
      text-transform: lowercase;
      opacity: .5;
    }
  }
} 
// Desktop Caption Display
@media screen and (min-width: 768px) {
  .carousel-caption {
    top: 25%;
    right: 10%;
  }
}
// Mobile / Tablet Caption Display - Still Needs Work
@media screen and (max-width: 768px) {
  #carousel {
    height: 340px !important;
    img {
      height: 340px;
    }
    .carousel-caption {
      width: 50%;
      top: 0;
      margin: 20px auto 0 auto;
      img {
        max-width: 100%;
        height: auto;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

/* Chapters
-------------------------------------------------- */
.chapters {
  padding: $navbar-height 0 0 0;
  .row {
    margin: 0;
  }
  .col-md-4 {
    padding: 0;
    margin-bottom: -2px;
  }
  img {
    width: 100%;
  }
  .chapter {
    color: #EEE;
    text-align: center;
    .chapter-details {
      display: none; /* Hide details by default */
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.8);
      padding-top: 18%;
      .chapter-play {
        color: #FFF;
        font-size: 3.0em;
        padding-bottom: .5em;
        display: inline-block;
        &:hover {
          color: #999;
        }
      }
      .chapter-number {
        margin: 0;
        font-size: .95em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
      }
      .chapter-name {
        text-transform: uppercase;
        margin: .125em 0 0 0;
        font-size: 2.0em;
        letter-spacing: 1px;
      }
      .chapter-location {
        font-size: .95em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
      }
    }
  }
}
/* Social Channels
-------------------------------------------------- */
.social {
  background: #f5f5f5;
  padding: 100px 0;
  h2 {
    color: #CCC;
    text-align: center;
    margin-bottom: 2.0em;
    i {
      font-size: 1.0em;
    }
  }
  a.thumbnail:hover {
    border-color: #CCC;
  }
  .tumblr {
    img {
      width: 100%;
    }
    .description {
      margin-top: 1.0em;
    }
  }
  .instagram {
    img {
      width: 100%;
    }
    .description {
      margin-top: 1.0em;
    }
  }
}
/*Isotope 
-------------------------------------*/

#container {
  border: 1px solid;
  padding: 3px;
}

.item {
  // width: 70px;
  // height: 70px;
  // margin: 3px;
  // float: left;
  // width: 20;
  // height: 200px;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/* Single Chapter View
-------------------------------------------------- */
.chapter-video.hero {
  iframe {
    width: 100%;
  }
  margin-bottom: 0;
}
.chapter-response {
  .row {
    min-height: 4.0em;
    border-bottom: 5px solid #ccc;
    margin: 0;
    .col-md-4 {
      padding: 0;
    }
    .btn-block {
      height: 4.0em;
      border-radius: 0;
      border: none;
      font-size: 1.5em;
      font-weight: bold;
      color: #222;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        background: transparent;
        color: #555;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        background: transparent;
      }
    }
  }
  .fields {
    background: #CCC;
    form {
      padding-top: 1.0em;
      margin-bottom: 1.0em;
    }
  }
}
/* Footer
-------------------------------------------------- */
footer {
  background: #222;
  padding: 4.0em 0;
  background-image: url(about-bg.png);
  background-size: cover;
  background-position: center center;
  color: #FFF;
  p {
    @include text-shadow;
  }
  a {
    color: #FFF;
    &:hover {
      color: #E5E5E5;
      text-decoration: none;
    }
  }
  .row {
    margin: 4.0em 0;
    img {
      margin-bottom: 2.0em;
    }
  }
  .colophon {
    opacity: .5;
  }
}

/* Responsive CSS
-------------------------------------------------- */
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
